@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 98%;

    --primary: 46 66% 52%; /* Aureum Gold */
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 10%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 12%;
    --input: 0 0% 12%;
    --ring: 46 66% 52%;

    --radius: 0rem; /* Brutalist/Sharp corners for luxury feel */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  /* Custom Scrollbar for Webkit */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #050505;
  }
  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #D4AF37;
  }
}

.font-serif {
  font-family: 'Cinzel', serif;
}

.font-sans {
  font-family: 'Montserrat', sans-serif;
}
